/*under*/
@media screen and (max-width: 500px)
{
	.ResponsiveSampleView-resp > :nth-child(3)
	{
		background-color:rgb(255, 255, 0) !important;
	}
	.ResponsiveSampleView-resp > :nth-child(3) > :nth-child(1)
	{
		top:10px !important;
		bottom:unset !important;
	}
}
