

/************************************************************************************/
/*	Component Default Style 														*/
/************************************************************************************/


.BdkCanvas-Style
{
	position: absolute;
	box-sizing: border-box;
    border: 0px solid;
}

